# IntelliJ
.idea/

# Maven
target/
*.iml
*.ipr
*.iws

# Gradle
.gradle/
build/

# IDE-specific files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 대용량 파일
build/libs/seoultour-0.0.1-SNAPSHOT.jar

# Logs and databases
*.log
*.sql
*.sqlite
*.sqlite3
*.db

# OS-specific files
.DS_Store
Thumbs.db
