<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SeoulTour</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/seoultour.css">
</head>
<body>
<div class="head">
    <h1><a href="/survey">SeoulTour</a></h1>
    <a href="#" class="btn_normal">Sign out</a>
</div>
<div class="container">
    <h2 class="hidden_txt">여행 추천 페이지</h2>
    <h3>서울시 추천 여행지</h3>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="tourTab" role="tablist">
        <li class="nav-item" th:each="entry, iterStat : ${tourSpotsByType}">
            <a class="nav-link" th:classappend="${iterStat.index == 0} ? 'active'"
               th:id="'tab-' + ${entry.key}"
               th:href="'#' + ${entry.key}"
               data-toggle="tab"
               role="tab"
               th:aria-controls="${entry.key}"
               th:aria-selected="${iterStat.index == 0}">[[${entry.key}]]</a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade" th:each="entry, iterStat : ${tourSpotsByType}"
             th:classappend="${iterStat.index == 0} ? 'show active'"
             th:id="${entry.key}"
             role="tabpanel"
             th:aria-labelledby="'tab-' + ${entry.key}">
            <ul class="tab_list">
                <li th:each="tourSpot : ${entry.value}">
                    <div class="cont_tablist">
                        <div class="tit_tablist"><strong class="hidden_txt">관광지 이름</strong><span th:text="${tourSpot.placename}"></span></div>
                        <div class="sub_tablist"><strong class="hidden_txt">주소</strong> <span th:text="${tourSpot.addr}"></span></div>
                        <div><strong class="hidden_txt">개요</strong> <span th:text="${tourSpot.overview}" class="overflow"></span></div>
                        <div><strong class="hidden_txt">상세 정보</strong> <span th:text="${tourSpot.detail}" class="overflow"></span></div>
                    </div>
                    <div class="utill_tablist">
                        <button title="여행지 저장" type="button" class="btn_utill saveButton">
                            <span class="starIcon star"><span class="hidden_txt">여행지 저장</span></span>
                        </button>

                        <button title="여행지 선택" type="button" class="btn_utill selectButton">
                            <svg class="pin" viewBox="0 0 24 24"> <!-- SVG 이미지 시작 -->
                                <path d="M12,0C7.029,0,3,4.029,3,9c0,5.25,7.5,15,9,15s9-9.75,9-15 C21,4.029,16.971,0,12,0z M12,12c-1.656,0-3-1.344-3-3s1.344-3,3-3s3,1.344,3,3 S13.656,12,12,12z"/> <!-- 핀 모양의 SVG 경로 -->
                            </svg>
                            <span class="hidden_txt">여행지 선택</span>
                        </button>

                    </div>

                </li>
            </ul>
        </div>
    </div>

</div>

<script>

    // 버튼 요소를 가져옵니다.
    const saveButtons = document.querySelectorAll('.saveButton');
    const selectButtons = document.querySelectorAll('.selectButton');

    // 버튼 요소에 번호를 추가하여 아이디를 동적으로 할당합니다.
    saveButtons.forEach((button, index) => {
        button.id = `saveButton${index + 1}`;
    });

    selectButtons.forEach((button, index) => {
        button.id = `selectButton${index + 1}`;
    });

    // 저장 버튼 클릭 이벤트 처리
    saveButtons.forEach(button => {
        button.addEventListener('click', function() {
            const starIcon = this.querySelector('.starIcon');
            this.classList.toggle('selected');
            const isSelected = this.classList.contains('selected');
            const hiddenText = this.querySelector('.hidden_txt');
            if (isSelected) {
                hiddenText.textContent = '여행지 저장 해제';
                this.title = '여행지 저장 해제';
                starIcon.style.backgroundColor = '#eb5428';
            } else {
                hiddenText.textContent = '여행지 저장';
                this.title = '여행지 저장';
                starIcon.style.backgroundColor = '#949494';
            }
        });
    });


    // 선택 버튼 클릭 이벤트 처리
    selectButtons.forEach(button => {
        const restoreStyles = function(color) {
            const paths = button.querySelectorAll('.pin path');
            paths.forEach(path => {
                path.style.fill = color; // 핀 아이콘의 색상을 기본값으로 복원합니다.
            });
        };
        button.addEventListener('click', function() {
            this.classList.toggle('selected');
            const isSelected = this.classList.contains('selected');
            const hiddenText = this.querySelector('.hidden_txt');
            if (isSelected) {
                hiddenText.textContent = '여행지 선택 해제';
                this.title = '여행지 선택 해제';
                restoreStyles('#eb5428');
            } else {
                hiddenText.textContent = '여행지 선택';
                this.title = '여행지 선택';
                restoreStyles('#949494');
            }
        });
    });


</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
